.layout-code {
	background-color: #1D2028;
	float: left;
	width: calc(100vw - 370px);
	height: 100vh;
}

.layout-code > div > ul {
	border-bottom: 1px solid rgb(62, 68, 85);
	margin-bottom: 0px;
}

.layout-code > div > ul > li {
	border-radius: 0px;
	border: none;
	bottom: 0px;
	color: rgb(123, 126, 139);
	padding: 6px 20px 6px 20px;
}

/* Horizontal scrolling */
.scrollable {
	overflow-x: auto;
	white-space: nowrap;
}

.scrollable::-webkit-scrollbar {
	display: none;
}

.react-tabs__tab--selected::after {
	height: 0px !important;
}

.selected-tab {
	background-color: rgb(62, 68, 85) !important;
}

.layout-code > div > div {
	height: calc(100vh - 33px);
}

.tab-button {
	margin-left: 10px;
	background-color: rgb(70, 77, 95);
	border: none;
	padding: 1px 4px 1.5px 4px;
	border-radius: 50%;
	transform: translateY(-0.5px);
	transition: 100ms ease-in-out;
}

.tab-button:hover {
	background-color: rgb(105, 116, 143);
}

.react-tabs__tab {
	text-align: left;
	padding: 6px 10px 6px 15px !important;
}

/* No file sections */
.no-files {
	background-color: rgb(72, 80, 102);
	border-radius: 5px;
	display: inline-block;
	padding: 20px 30px 20px 30px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: calc(50% + 185px);
	transform: translate(-50%, -50%);
	margin: auto;
}

.no-files > h1 {
	font-size: 22px;
	margin-block-start: 0px;
	margin-block-end: 0px;
	color: rgb(191, 201, 231);
}

.no-files > p {
	margin-block-start: 2.5px;
	color: rgb(134, 147, 185);
}

.no-files > button {
	width: 100%;
	height: 45px;
	border-radius: 5px;
	font-size: 15px;
	transition: 100ms ease-in-out;
}
