.type {
	width: 100%;
	height: 100%;
}

#solidity-editor {
	width: 100% !important;
	height: calc(100% - 30px) !important;
	display: inline-block !important;
	font-family: 'Source Code Pro', monospace;
}

.ace_selection {
	background-color: #61657e !important;
}

.type > div:nth-child(2) {
	height: 30px;
	width: calc(100% - 10px);
	display: inline-block;
	padding-right: 10px;
}

.op-buttons {
	display: inline-block;
	width: calc(100% - 205px);
	text-align: left;
	padding-left: 5px;
}

.op-buttons > button {
	display: inline-block;
	background-color: rgb(45, 49, 61);
	border: none;
	color: #606a85;
	margin: 0px 2.5px 0px 2.5px;
	border-radius: 5px;
	transition: 100ms ease-in-out;
}

.op-buttons > button:hover {
	background-color: rgb(58, 63, 78);
}

.type > div:nth-child(2) > span {
	color: #606a85;
	font-size: 13px;
	display: inline-block;
	width: 200px;
	text-align: right;
}

/* Ace search styling */
.ace_search {
	background-color: #404759 !important;
	border-color: #363b4a;
}

/* Ace auto-completion styling */
.ace_completion-highlight {
	color: rgb(52, 122, 253) !important;
}

.ace_selected, .ace_line-hover {
	background-color: rgba(20, 24, 246, 0.3) !important;
	border-color: rgb(20, 24, 246) !important;
}
