/* Browser container */
.browser-container {
	width: 100%;
	height: calc(100vh - 120px);
}
/* Explorer */
.explorer {
	width: 100%;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.1);
	margin-top: 10px;
	max-height: calc(100% - 95px);
	overflow-y: auto;

}

.explorer-item {
	height: 39px;
	transition: 100ms ease-in-out;
	border-bottom: 1px solid #ccc;
}

.explorer-item:first-child {
	border-radius: 5px 5px 0px 0px;
}

.explorer-item:last-child {
	border-radius: 0px 0px 5px 5px;
	border-bottom: 0px;
}

.explorer-item:hover {
	background-color: #EEF0F9;
}

.explorer-item-status {
	color: rgb(175, 175, 175);
	font-weight: 400;
	display: inline-block;
	transform: translateY(1px);
}

.explorer-item > div {
	height: 100%;
	display: inline-block;
	border-bottom: 1px solid #ccc;
	vertical-align: top;
}

.explorer-item > div > span {
	color: #1416F6;
	font-weight: 600;
	font-size: 15px;
	margin-top: 8px;
	display: inline-block;
	user-select: none;
}

.explorer-tip {
	display: inline-block;
	font-size: 12.5px;
	text-align: center;
	width: 100%;
	color: rgb(109, 109, 109);
	margin-top: 6.5px;
}

.truncateable {
	width: 205px;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.explorer-item > div:nth-child(1) {
	width: calc(100% - 10px);
	padding-left: 10px;
}

.explorer-modal {
	border-radius: 5px;
	width: 500px;
}

.react-tabs__tab--selected {
	background-color: rgb(47, 51, 65) !important;
}

/* Explorer bottom */
.explorer-bottom {
	width: 275px;
	position: absolute;
	bottom: 0;
	padding-bottom: 5px;
}

.explorer-bottom > button {
	margin: 4px 0px 4px;
}

.explorer-bottom > button:nth-child(2), button:nth-child(3) {
	display: inline-block;
	width: calc(50% - 5px);
	background-color: #DDE0F0;
	border: 1px solid #DDE0F0;
	color: #000;
}

.explorer-bottom > button:nth-child(2):hover, button:nth-child(3):hover {
	background-color: rgb(208, 210, 226);
}

.explorer-bottom > button:nth-child(2) {
	margin-right: 5px;
}

.explorer-bottom > button:nth-child(3) {
	margin-left: 5px;
}

/* Explorer modal */
.explorer-modal {
	padding: 0px;
}

.modal-header {
	width: calc(100% - 20px);
	height: auto;
	background-color: rgb(221, 224, 240);
	color: #000;
	display: inline-block;
	border-radius: 5px 5px 0px 0px;
	padding: 0px 0px 20px 20px;
}

.modal-header > h1 {
	font-size: 30px;
	margin-block-end: 0px;
}

.modal-header > span {
	font-size: 15px;
}

.modal-content {
	padding: 20px;
}

.modal-actions {
	width: 100%;
	height: 50px;
}

.modal-actions > button {
	width: 100%;
	height: 100%;
	border-radius: 0px 0px 5px 5px;
	font-size: 15px;
	background-color: rgb(201, 201, 201);
	border-color: rgb(209, 209, 209);
	transition: 150ms ease-in-out;
}

.modal-actions > button:hover {
	background-color: rgb(182, 182, 182);
}

.modal-content > input {
	width: 100%;
	display: inline-block;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-left: 5px;
	font-size: 15px;
}

.modal-content > input:focus {
	outline:0;
}

/* No file fallback */
.explorer-empty {
	padding: 20px;
	text-align: center;
}

.explorer-empty > h3 {
	margin-block-start: 0px;
}

.explorer-empty > p {
	margin-block-start: -15px;
}

.explorer-empty > button {
	width: 100%;
}

/* React content modal */
.react-contextmenu--visible {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.05);
	z-index: 999;
}

.react-contextmenu-item {
	padding: 2px 13px 2px 5px;
	transition: 100ms ease-in-out;
	user-select: none;
	cursor: pointer;
	font-size: 15px;
}

.react-contextmenu-item:first-child {
	border-radius: 5px 5px 0px 0px;
}

.react-contextmenu-item:last-child {
	border-radius: 0px 0px 5px 5px;
}

.react-contextmenu-item:hover {
	background-color: rgb(227, 228, 240);
}

/* Create file modal */
.duplicate-error {
	background-color: #FFCCCC;
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	font-size: 14px;
	position: absolute;
	right: 0;
	transform: translate(-17px, -42px);
}

/* Upload file modal */
.upload-file-modal > section {
	border-radius: 5px;
	border: 2px dashed rgb(165, 168, 185);
	text-align: center;
	transition: 150ms ease-in-out;
	cursor: pointer;
	background-color: rgb(240, 242, 247);
	height: 200px;
}

.upload-file-modal > section:hover {
	opacity: 0.6;
}

.upload-file-modal > section > div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.upload-file-modal > section > div > h2 {
	font-size: 20px;
	line-height: 0px;
}

.upload-file-modal > section > div > img {
	height: 65px;
}

.upload-file-modal > section > div > i {
	font-size: 50px;
}

.upload-file-modal > section:focus {
	outline: 0;
}

.upload-file-modal > section > div:focus {
	outline: 0;
}

.wrongupload {
	color: #cc0000;
}

/* Save GIST modal */

/* Delete file modal */
.delete-file-name {
	background-color: #FFCCCC;
	padding: 2px 3px 2px 3px;
	border-radius: 5px;
}

#delete-editor {
	width: 100% !important;
	border-radius: 5px;
	max-height: 200px;
}

.delete-file-modal > span {
	font-weight: 600;
	display: inline-block;
	margin-bottom: 5px;
}

.delete-file-modal > p {
	font-weight: 600;
	margin-block-end: 7.5px;
}
.delete-file-modal > span:nth-child(2) {
	margin-block-start: 20px;
}

/* Rename file modal */
.rename-file-name {
	background-color: rgb(182, 190, 243);
	padding: 2px 3px 2px 3px;
	border-radius: 5px;
}
